/* Importation de la font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Saira:wght@100..900&display=swap");

/* Déclarations des differentes couleurs */
:root {
  --color-background: #007e61;
  --color-background-section: #00b494;
  --color-button: #4aedc9;
  --color-texte: #fff;
  --color-texte2: #4aedc9;
  --size-title: 2rem;
  --size-paragraphe: 1.015rem;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-background);
  font-family: "Montserrat", sans-serif;
  font-size: var(--size-paragraphe);
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-background-sectio);
  padding: 1.2em;
  color: var(--color-texte);
}

.nav__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title__header {
  text-decoration: none;
  font-size: var(--size-paragraphe);
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--color-texte);
}

.title__header > span {
  color: var(--color-texte2);
}

.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav__link {
  text-decoration: none;
  color: var(--color-texte);
  padding: 0 1.2em;
  font-weight: 600;
  transition: color 0.3s;
}

.active {
  color: var(--color-button);
}

.nav__link:hover {
  color: var(--color-button);
}

.nav__close,
.nav__toggle {
  display: none;
}

/* ======  Menu de Navigation sur mobile ====== */
@media screen and (max-width: 890px) {
  .title__header {
    font-size: 1.125rem;
  }

  .nav__list {
    display: none;
  }

  .nav__toggle {
    display: initial;
  }

  .nav__close__mobile {
    display: initial;
    position: absolute;
    top: 10px;
    right: 95px;
    z-index: 1;
  }

  .nav__list__mobile {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    right: -15px;
    width: 100%;
    text-align: center;
    background-color: var(--color-background);
    padding: 2em;
    row-gap: 20px;
    box-shadow: 2px 0 8px 5px rgb(32, 32, 32);
    transition: 0.5s;
  }
}
