@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Saira:wght@100..900&display=swap");
:root {
  --color-background: #007e61;
  --color-background-section: #00b494;
  --color-button: #4aedc9;
  --color-texte: #fff;
}

body {
  background-color: var(--color-background);
}
