/* Importation de la font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Saira:wght@100..900&display=swap");

/* Déclarations des differentes couleurs */
:root {
  --color-background: /*#007e61*/ #000000;
  --color-background-section: /*#00b494*/ #053a77;
  --color-background-section2: #0d0d0d;
  --color-button: /*#4aedc9*/ #064690;
  --color-texte: #fff;
  --color-texte2:/* #4aedc9*/ #064690;
  --size-title: 2rem;
  --size-paragraphe: 1.015rem;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
  font-family: "Montserrat", sans-serif;
  font-size: var(--size-paragraphe);
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1.2em;
  color: var(--color-texte);
  z-index: 999;
}

/*Pour mettre de l'ombre en bas de la barre de navigation
quand on va scroller*/
.shadow__header {
  background-color: var(--color-background);
  box-shadow: 2px 0 8px 5px rgb(32, 32, 32);
}

.nav__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title__header {
  text-decoration: none;
  font-size: var(--size-paragraphe);
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--color-texte);
}

.title__header > span {
  color: var(--color-texte2);
}

.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav__link {
  text-decoration: none;
  color: var(--color-texte);
  padding: 0 1.2em;
  font-weight: 600;
  transition: color 0.3s;
}

.active {
  color: var(--color-button);
}

.nav__link:hover {
  color: var(--color-button);
}

.nav__close,
.nav__toggle {
  display: none;
}

/* ======  Menu de Navigation sur mobile ====== */
@media screen and (max-width: 890px) {
  .title__header {
    font-size: 1.125rem;
  }

  .nav__list {
    display: none;
  }

  .nav__toggle {
    display: initial;
  }

  .nav__close__mobile {
    display: initial;
    position: absolute;
    top: 10px;
    right: 95px;
    z-index: 1;
  }

  .nav__list__mobile {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    right: -15px;
    width: 100%;
    text-align: center;
    background-color: var(--color-background);
    padding: 2em;
    row-gap: 20px;
    box-shadow: 2px 0 8px 5px rgb(32, 32, 32);
    transition: 0.5s;
  }
}

/*========= MAIN =========*/

/* hero section */
.hero__section {
  width: 72%;
  margin: 12em auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__presentation {
  color: var(--color-texte);
}

.hero__presentation h1 {
  font-size: var(--size-title);
  line-height: 1.35em;
  margin-bottom: 1em;
}

span {
  color: var(--color-texte2);
}

.hero__presentation small {
  font-size: 1.3rem;
}

.social__hero {
  margin: 1.3em 0;
}

.social__hero a {
  text-decoration: none;
  color: var(--color-texte);
  font-size: 1.5rem;
}

.link__social__2,
.link__social__3 {
  padding: 0 0.8em;
}

.social__hero a:hover,
.social__contact a:hover {
  color: var(--color-button);
}

button {
  margin-top: 2em;
  border: none;
  background-color: var(--color-texte2);
  padding: 1em;
}

.btn__hero,
.btn__apropos,
.btn__projets {
  color: var(--color-texte);
  text-decoration: none;
  font-size: var(--size-paragraphe);
  transition: color 0.5s;
}

button:hover {
  cursor: pointer;
  background-color: var(--color-background-section);
}

.shape__hero {
  position: relative;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-color: var(--color-background-section);
  z-index: -1;
}

.image__hero {
  position: absolute;
  top: -7em;
  left: 35px;
  width: 280px;
  mask-image: linear-gradient(
    to bottom,
    var(--color-texte2) 50%,
    transparent 100%
  );
  z-index: -1;
}

/*Affichage de la section hero sur le petite ecran*/
@media screen and (max-width: 890px) {
  .hero__section {
    display: flex;
    flex-direction: column;
  }

  .shape__hero {
    top: 150px;
    width: 280px;
    height: 280px;
  }

  .image__hero {
    top: -7em;
    left: 20px;
    width: 235px;
  }
}

/* Apropos section */
.apropos__section,
.skills__section {
  padding: 5em 0;
  background-color: var(--color-background-section2);
}

.container__apropos__section {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  width: 72%;
  margin: 0 auto;
}

.shape__apropos {
  position: relative;
  height: 400px;
  width: 250px;
  background-color: var(--color-background-section);
  z-index: 1;
}

.image__shape__apropos img {
  height: 400px;
  position: absolute;
  top: 20px;
  left: 30px;
}

.apropos__description {
  margin-top: 1em;
  color: var(--color-texte);
  line-height: 25px;
  font-size: 1.3rem;
}

/*Affichage de la section hero sur le petite ecran*/
@media screen and (max-width: 890px) {
  .container__apropos__section {
    display: flex;
    flex-direction: column;
  }

  .apropos__description {
    margin-top: 4em;
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 390px) {
  .shape__apropos {
    height: 350px;
    width: 200px;
  }
  .image__shape__apropos img {
    height: 350px;
  }
}

@media screen and (max-width: 320px) {
  .shape__apropos {
    position: static;
    height: 150px;
    width: 50px;
  }
  .image__shape__apropos img {
    position: static;
    height: 250px;
    top: 0;
    left: 0;
  }

  .apropos__description {
    margin-top: 8em;
    font-size: 1rem;
  }
}

/* Projets section */
.projets__section {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  width: 72%;
  margin: 0 auto;
  padding: 5em 0;
}

.card__projets__1,
.card__projets__2,
.card__projets__3 {
  border: 2px solid var(--color-background-section2);
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 0.8em;
  margin: 0.5em;
  transition: 0.3s;
}

.card__projets__1:hover,
.card__projets__2:hover,
.card__projets__3:hover {
  cursor: pointer;
  box-shadow: 2px 0 8px 5px rgb(32, 32, 32);
}

.head__card__projets__1,
.head__card__projets__2,
.head__card__projets__3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head__card__projets__1 img,
.head__card__projets__2 img,
.head__card__projets__3 img {
  width: 100%;
  margin-bottom: 1.5em;
}

.body__card__projets__1__description,
.body__card__projets__2__description,
.body__card__projets__3__description {
  color: var(--color-texte);
  line-height: 25px;
}

.tecno {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-texte);
}

.tecno__logo {
  color: var(--color-texte);
  font-size: 1.3rem;
  padding: 1em;
}

/* Skills section */
.container__skills__section {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  width: 72%;
  margin: 0 auto;
}

.soft__skills,
.hard__skills {
  border: 2px solid var(--color-background);
  background-color: var(--color-background);
  padding: 1em;
  margin: 0.5em;
  color: var(--color-texte);
}

.soft__skills h2,
.hard__skills h2,
.formulaire > h2 {
  text-align: center;
  padding-bottom: 1em;
  color: var(--color-texte);
}

.soft__skill__1,
.soft__skill__2,
.soft__skill__3,
.hard__skill__1,
.hard__skill__2,
.hard__skill__3,
.hard__skill__4,
.hard__skill__5,
.hard__skill__6 {
  margin: 1em 0;
}

.title__skill__1,
.title__skill__2,
.title__skill__3,
.title__skill__4,
.title__skill__5,
.title__skill__6 {
  font-weight: 500;
}

.progress__bar__skill__1,
.progress__bar__skill__2,
.progress__bar__skill__3,
.progress__bar__skill__4,
.progress__bar__skill__5,
.progress__bar__skill__6 {
  width: 100%;
  padding: 2px;
  background-color: var(--color-background-section2);
  border-radius: 30px;
  margin: 0.5em 0;
}

.color__progress__bar__skill__1,
.color__progress__bar__skill__2,
.color__progress__bar__skill__3,
.color__progress__bar__skill__4,
.color__progress__bar__skill__5,
.color__progress__bar__skill__6,
.color__soft__progress__bar__skill__1,
.color__soft__progress__bar__skill__2,
.color__soft__progress__bar__skill__3 {
  background-color: var(--color-button);
  padding: 2px;
  border-radius: 30px;
  text-align: center;
  font-size: 0.595rem;
}

.color__progress__bar__skill__1,
.color__soft__progress__bar__skill__3 {
  width: 90%;
}
.color__progress__bar__skill__2 {
  width: 85%;
}
.color__progress__bar__skill__3,
.color__soft__progress__bar__skill__1 {
  width: 75%;
}
.color__progress__bar__skill__4 {
  width: 50%;
}
.color__progress__bar__skill__5 {
  width: 88%;
}
.color__progress__bar__skill__6,
.color__soft__progress__bar__skill__2 {
  width: 80%;
}

.btn__scroll {
  position: fixed;
  right: 2.5em;
  bottom: 10px;
  display: inline-block;
  color: var(--color-texte);
  background-color: var(--color-button);
  padding: 0.6em;
}

.btn__scroll i {
  color: var(--color-texte);
  background-color: var(--color-button);
}

.btn__scroll__visible {
  display: initial;
  bottom: 3rem;
}

@media screen and (max-width: 890px) {
  .projets__section,
  .container__skills__section {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
}

/* ========= SECTION CONTACT ======== */
.contact__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 72%;
  margin: 0 auto;
}

.formulaire {
  padding: 1em;
  margin: 2em;
}

.social__contact {
  width: 40%;
  margin: 0 auto;
}

.social__contact a {
  color: var(--color-texte);
  text-decoration: none;
  font-size: 1.3rem;
}

form {
  display: flex;
  flex-direction: column;
  color: var(--color-texte);
  font-size: 1.2rem;
  background-color: var(--color-background-section2);
  padding: 1em;
  margin: 1em;
}

form > label {
  padding: 0.6em 0;
}

form > input,
form > textarea {
  background-color: var(--color-background-section2);
  border: none;
  border-bottom: 1px solid var(--color-button);
  color: var(--color-texte);
}

form > input {
  padding: 0.8em;
}

form > input:focus,
form > textarea:focus {
  outline: none;
}

form > input::placeholder,
form > textarea::placeholder {
  font-size: 1rem;
}

button[type="submit"] {
  color: var(--color-texte);
  font-size: var(--size-paragraphe);
}

/* =========== SECTION FOOTER ======== */
footer div {
  color: #fff;
  text-align: center;
  padding: 0.7em;
}
